@import "tailwindcss";


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0a192f;
  color: #ccd6f6;
}

.section-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}